.form{
    display: flex;
    background-color: rgb(235, 235, 235);
    height: 10%;
    border-bottom: 1px solid rgb(184, 184, 184);
    border-right: 1px solid rgb(184, 184, 184);;
}
.input-bar{
    border:none;
    padding: 1%;
    width: 80%;
    font-size: 1.2rem;
    height: 50%;
    margin-left: 7px;
    margin-top: 6px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: 2px solid rgb(0, 0, 0);
    background-color:rgb(235, 235, 235) ;
}
input:focus,textarea:focus,select:focus{
    outline: none;
}
input::placeholder{
    opacity: 80%;
    font-size: 17px;
}
.send-btn{
    width: 10%;
    border-radius: 0px 0px 5px;
    outline: none;
    border: none;
}
.attach-btn{
    width: 10%;
    outline: none;
    border: none;
}
.attach-icon{
    height:40%;
    width:40%;
}
.send-icon{
    height:50%;
    width:50%;
    cursor: pointer;
}
.image-upload{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-upload > input
{
    display: none;
}

.image-upload img
{
    margin-left:30px ;
    width: 45%;
    height: 60%;
    cursor: pointer;
}
@media screen and (max-width:600px){
    .input-bar{
        margin-top: 12px;
    }
    .image-upload img
    {
        margin-left:7px ;
        width: 75%;
        height: 75%;
        cursor: pointer;
    }
    .send-icon{
        height:100%;
        width:90%;
    }
}