.infobar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(43, 118, 179);
    height: 10%;
    width: 100%;
    border-radius: 0px 5px 0px 0px;
}

.left-container{
    flex:0.9;
    display :flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5px;
    color: white;
    font-size: 20px;
}
.rigth-container{
    flex:0.5;
    display :flex;
    justify-content: flex-end;
    margin-right: 5px;
    color: white;
}
.pl{
    padding-left: 20px;
}
.mr{
    margin-right: 20px;
}
.copy-btn{
    outline: none;
    cursor: pointer;
    border: none;
    background:none;
}
