.messages{
    background-image: url(../../icons/back.png);
    background-size: cover;
    height: 75%;
    overflow:auto;
    flex:auto;
}
.scrollbar {
    overflow:auto;
  }
  
  .scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 6px;
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.2);
  }
  
  .scrollbar-primary::-webkit-scrollbar {
    scroll-margin: auto;
  }
  .scrollbar-primary {
    scrollbar-color: #76c5f3;
  }
  .scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #5ebdfc;
  }