.footer{
    height: 5%;
    background-color: black;
    border-radius: 0px 0px 5px 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
}
img{
    height:16px;
    width:16px;
}
.icons{
    margin-top:2px;
    margin-left: 30px;
    padding: 0px;
    float: right;
}
.link-icon{
    margin-left:30px;
}