.side-bar-container{
    display: flex;
    flex-direction: column;
    flex: 0.35;
    background-color: rgb(0, 0, 0);
    width: 30%;
    height: 90%;
    color: rgb(224, 224, 224);
    text-align: center;
    border-radius: 5px 0px 0px 5px;
}
.pt1-20{
    padding-top: 15px;
}
.users{
    margin: auto;
    font-size: 1.6rem;
  }
.head{
    display: flex;
    font-size: 23px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(112, 112, 112);
    height: 10%;
}
.icon{
    color: rgb(33, 163, 65);
    height: 7px;
    width: 7px;
    padding: 10px;
}
.menu{
    display: flex;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0px 0px 0px;
    height: 10%;
}
.icon-grp{
    height: 40px;
    width: 40px;
}
.msg-icon{
    height: 30px;
    width: 30px;
    padding:5px;
}
.menu-2{
    display: flex;
    align-items: center;
    justify-content:center ;
    height: 8%;
}
.scrollbar1 {
    overflow: scroll;
    overflow-x: hidden;
    flex: auto;
  }
  .scrollbar1::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .scrollbar1::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.2);
  }
  
  .scrollbar1-primary1::-webkit-scrollbar {
    background-color: #000000;
  }
  .scrollbar1-primary1 {
    scrollbar-color: #000000 #050505;
  }
  .scrollbar1-primary1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #000000;
  }

  @media screen and (max-width:600px){
    .side-bar-container{
        display: block;
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: 100%;
        color: rgb(224, 224, 224);
        text-align: center;
        border-radius: 5px 0px 0px 5px;
    }
}